<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css"/>
    <title>Document</title>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
      <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><a href="#" target="">Kategorija 1</a></li>
        <li><a href="#" target="">Kategorija 2</a></li>
        <li><a href="#" target="">Kategorija 3</a></li>
      </ul>
    </div>
        <div class="brandName">
            <a href="index.html">Nosaukums</a>
        </div>    
        <div class="headerlinks">
            <a href="cart.html">Grozs</a>
            <a href="signin.html">Pierakstīties</a>
        </div>
  </header>   
  <div class="main">
    <div class="content">
      <ul class="products">
        <li>
          <div class="product">
            <img class="product-image" src="images/1.jpg" alt="iphone11">
            <div class="product-name">
              <a href="product.html">iPhone 11 Pro</a>
            </div>
            <div class="price">1300 €</div>
          </div>
        </li>

        <li>
          <div class="product">
            <img class="product-image" src="images/1.jpg" alt="iphone11">
            <div class="product-name">
              <a href="product.html">iPhone 11 Pro</a>
            </div>
            <div class="price">1300 €</div>
          </div>
        </li>

        <li>
          <div class="product">
            <img class="product-image" src="images/1.jpg" alt="iphone11">
            <div class="product-name">
              <a href="product.html">iPhone 11 Pro</a>
            </div>
            <div class="price">1300 €</div>
          </div>
        </li>

        <li>
          <div class="product">
            <img class="product-image" src="images/1.jpg" alt="iphone11">
            <div class="product-name">
              <a href="product.html">iPhone 11 Pro</a>
            </div>
            <div class="price">1300 €</div>
          </div>
        </li>

        <li>
          <div class="product">
            <img class="product-image" src="images/1.jpg" alt="iphone11">
            <div class="product-name">
              <a href="product.html">iPhone 11 Pro</a>
            </div>
            <div class="price">1300 €</div>
          </div>
        </li>

        <li>
          <div class="product">
            <img class="product-image" src="images/1.jpg" alt="iphone11">
            <div class="product-name">
              <a href="product.html">iPhone 11 Pro</a>
            </div>
            <div class="price">1300 €</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <footer class="footer">Copyright &copy; Rihards Macijauskis.</footer>   
</div>
</body>
</html>